.DS_Store
1.Planetarium/xcode/build/*
1.Planetarium/xcode/Planetarium.xcodeproj/project.xcworkspace/*
1.Planetarium/xcode/Planetarium.xcodeproj/xcuserdata/*
2.Interpolation/xcode/build/*
2.Interpolation/xcode/Interpolation.xcodeproj/project.xcworkspace/*
2.Interpolation/xcode/Interpolation.xcodeproj/xcuserdata/*
cinder_0.9.2_mac/*
3.KeypointAnim/xcode/Info.plist
3.KeypointAnim/xcode/KeypointAnim_Prefix.pch
3.KeypointAnim/xcode/KeypointAnim.xcodeproj/project.pbxproj
3.KeypointAnim/xcode/KeypointAnim.xcodeproj/project.xcworkspace/contents.xcworkspacedata
3.KeypointAnim/xcode/KeypointAnim.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
3.KeypointAnim/xcode/KeypointAnim.xcodeproj/project.xcworkspace/xcuserdata/anasilva.xcuserdatad/UserInterfaceState.xcuserstate
3.KeypointAnim/xcode/KeypointAnim.xcodeproj/project.xcworkspace/xcuserdata/anasilva.xcuserdatad/WorkspaceSettings.xcsettings
3.KeypointAnim/xcode/KeypointAnim.xcodeproj/xcuserdata/anasilva.xcuserdatad/xcschemes/xcschememanagement.plist
3.KeypointAnim/xcode/build/Debug/KeypointAnim.app/Contents/Info.plist
3.KeypointAnim/xcode/build/Debug/KeypointAnim.app/Contents/PkgInfo
3.KeypointAnim/xcode/build/Debug/KeypointAnim.app/Contents/MacOS/KeypointAnim
3.KeypointAnim/xcode/build/Debug/KeypointAnim.app/Contents/Resources/CinderApp.icns
3.KeypointAnim/xcode/build/Debug/KeypointAnim.app/Contents/_CodeSignature/CodeResources
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/all-product-headers.yaml
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/KeypointAnim-all-non-framework-target-headers.hmap
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/KeypointAnim-all-target-headers.hmap
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/KeypointAnim-generated-files.hmap
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/KeypointAnim-own-target-headers.hmap
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/KeypointAnim-project-headers.hmap
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/KeypointAnim.app.xcent
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/KeypointAnim.hmap
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/DerivedSources/Entitlements.plist
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Animation.d
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Animation.dia
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Animation.o
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/CamControl.d
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/CamControl.dia
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/CamControl.o
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/KeypointAnim_dependency_info.dat
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/KeypointAnim.LinkFileList
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/KeypointAnimApp.d
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/KeypointAnimApp.dia
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/KeypointAnimApp.o
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Mesh.d
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Mesh.dia
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Mesh.o
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Shaders.d
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Shaders.dia
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Shaders.o
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Volume.d
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Volume.dia
3.KeypointAnim/xcode/build/KeypointAnim.build/Debug/KeypointAnim.build/Objects-normal/x86_64/Volume.o
3.KeypointAnim/xcode/build/SharedPrecompiledHeaders/SharedPrecompiledHeaders/7345936471928172217/KeypointAnim_Prefix.pch.d
3.KeypointAnim/xcode/build/SharedPrecompiledHeaders/SharedPrecompiledHeaders/7345936471928172217/KeypointAnim_Prefix.pch.dia
3.KeypointAnim/xcode/build/SharedPrecompiledHeaders/SharedPrecompiledHeaders/7345936471928172217/KeypointAnim_Prefix.pch.gch
3.KeypointAnim/xcode/build/XCBuildData/4ce4de0318a4ea580b6c5f5412dc59a9-desc.xcbuild
3.KeypointAnim/xcode/build/XCBuildData/4ce4de0318a4ea580b6c5f5412dc59a9-manifest.xcbuild
3.KeypointAnim/xcode/build/XCBuildData/8b7f5ce16af4fbee9c4925b347e1b399-desc.xcbuild
3.KeypointAnim/xcode/build/XCBuildData/8b7f5ce16af4fbee9c4925b347e1b399-manifest.xcbuild
3.KeypointAnim/xcode/build/XCBuildData/16c8f51da8113edd239f5a6da6e95a8d-desc.xcbuild
3.KeypointAnim/xcode/build/XCBuildData/16c8f51da8113edd239f5a6da6e95a8d-manifest.xcbuild
3.KeypointAnim/xcode/build/XCBuildData/build.db
3.KeypointAnim/xcode/build/XCBuildData/BuildDescriptionCacheIndex-749d159d37d2511e1b33b6ddd6fd5110
3.KeypointAnim/xcode/build/XCBuildData/c90f213b1d27e1837c35acb729b53b4a-desc.xcbuild
3.KeypointAnim/xcode/build/XCBuildData/c90f213b1d27e1837c35acb729b53b4a-manifest.xcbuild
