.DS_Store
1.Planetarium/xcode/build/*
1.Planetarium/xcode/Planetarium.xcodeproj/project.xcworkspace/*
1.Planetarium/xcode/Planetarium.xcodeproj/xcuserdata/*
2.Interpolation/xcode/build/*
2.Interpolation/xcode/Interpolation.xcodeproj/project.xcworkspace/*
2.Interpolation/xcode/Interpolation.xcodeproj/xcuserdata/*
cinder_0.9.2_mac/*
